.app{
    background-image: url('https://www.tokkoro.com/picsup/1106810-bird.jpg');
    background-repeat: no-repeat; 
    background-attachment: scroll;
    color: aliceblue;
}
.h1 {
    margin: 0;
    padding: 0;
}
.ulcatchPokemon {
    list-style: none;
}
.ensayo{
    margin-top: 40px; 
}
.divAndButton{
    margin: 5px 0 15px 25px;
}
