*{
    margin-bottom: 40px;
    padding: 0%;
    color: black;
}
.app{
    background: url('https://i.ibb.co/cLpSqdY/pokemon-1513925.jpg') center/cover;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.h1 {
    margin: 0;
    padding: 0;
}
.ulcatchPokemon {
    list-style: none;
}
.ensayo{
    margin-top: 40px; 
}
.divAndButton{
    margin: 5px 0 15px 25px;
}

.listOfPokemonsFromApi{
    font-weight: bolder;
    font-size: 22px;
    text-decoration: line-through;
    color: red;
    list-style: none;
}